@page "/antdesigncomplexscenarios"

@using AntDesign

<h3>AntDesign Complex Scenarios</h3>

<GridRow>
    <GridCol Span="6">
        <Button Type="@ButtonType.Primary" OnClick="MoreThanOnceInstanceModal">
            > 1 Instance
        </Button>
    </GridCol>
    <GridCol Span="6">col-6</GridCol>
    <GridCol Span="6">col-6</GridCol>
    <GridCol Span="6">col-6</GridCol>
</GridRow>