@page "/antdesigncomplexscenarios"

@using AntDesign
@using Bunit.Demo.Pages.Modals

<div>

    <AntContainer />

    <h3>AntDesign Complex Scenarios</h3>

    <GridRow>
        <GridCol Span="6">
            <Button Id="buttonShowModal" Type="@ButtonType.Primary" OnClick="OpenModal">
                Show Modal
            </Button>
        </GridCol>
        <GridCol Span="6">
            <Button Id="buttonShowPanel" Type="@ButtonType.Primary" OnClick="ShowPanel">Show Panel</Button>
        </GridCol>
        <GridCol Span="6">
            <Button Id="buttonShowMessage" Type="@ButtonType.Primary" OnClick="ShowMessage">Show Message</Button>
        </GridCol>
        <GridCol Span="6">col-6</GridCol>
    </GridRow>

    <Divider />

    @if (@_showPanel)
    {
        <p id="panelShowPanel"><strong>bUnit demo</strong></p>
    }

    @if (Showodal)
    {
        <ModalExample OnClose="CloseModal">
        </ModalExample>
    }

    @if (_ShowMessage)
    {
        <div id="divShowMessage">Success</div>
    }
</div>