@page "/"

<PageTitle>Index</PageTitle>

<h1>bUnit Demo</h1>

In this demostration, we are going to have a look at some examples, both basic and advance, of how to integrate and use bUnit in our Blazor application.
<AntDesign.Divider></AntDesign.Divider>
For further information, please refer to <a href="https://bunit.dev/docs/getting-started/index.html" target="_blank">Getting started with bUnit</a>
<AntDesign.Divider></AntDesign.Divider>
<h1>Ant Design Blazor</h1>
How to setup, please refer to <a href="https://antblazor.com/en-US/docs/introduce" target="_blank">Antblazor</a>
<br />
For bUnit test project, add "AntDesign.TestKit" nuget package, and inherit from "AntDesignTestBase".

