@using AntDesign
@using BackOffice.Shared.UI.Notifications.Services;
@using Bunit.Demo.Models;

<Modal Title="Modal example"
       Visible="true"
       OnCancel="CloseModal">
    <Button Type="@ButtonType.Primary" OnClick="CheckTheBox">Check me</Button>
    <Checkbox Id="checkBoxCheckMe" @bind-Checked="Model.Checked">Checkbox</Checkbox>
</Modal>

@code {

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public ModalModel Model {get; set; } = new ();

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void CloseModal()
    {
        if (OnClose.HasDelegate)
        {
            OnClose.InvokeAsync();
        }
    }

    private void CheckTheBox()
    {
        Model.Checked = !Model.Checked;
    }
}
